<div class='trips-info'>
  <!-- If there are trips created by the current logged in user display each of them -->
  <p>from
    <span>{{startPoint}}</span>
    to
    <span>{{endPoint}}</span>
    on
    <span>{{date}}</span>
    at
    <span>{{time}}</span></p>
</div>